<div class="row">

  <div class="large-12 columns">
    <div id="map-canvas"></div>
  </div>

</div>

<script type="text/javascript">
  var locations = [

  <% @teams.each do |team| %>
    ['<h5><%= link_to team.name, team_path(team) %></h5><%= image_tag team.logo.url(:thumb) %>', <%= team.latitude %>, <%= team.longitude %>]
    <%= ',' unless team == @teams.last %>
  <% end %>
  ];

  initializeMap();
</script>
