<div class="row">
  <div class="large-2 columns">
    <h1><%= @player.name %></h1>
    <div id="xycoordinates"></div>
  </div>
  <div class="large-2 columns">
    <%= image_tag @player.photo.url(:thumb) %>
  </div>
  <div class="large-8 columns">
    <div id="spray-chart">
      <% @hits.each do |hit| %>
        <div class="hit-circle" style="top:<%= hit.coords.split(',')[1] %>px; left: <%= hit.coords.split(',')[0] %>px"></div>
      <% end %>
    </div>

    <%= form_for [@player, @hit], remote: true do |f| %>
      <%= f.hidden_field :coords, id: 'hidden-hit-coords' %>
    <% end %>

  </div>
</div>


<script>
  $(document).ready(function(){

    $('#spray-chart').on('click', function(e) {
      var parentOffset = $(this).parent().offset();
      //or $(this).offset(); if you really just want the current element's offset
      var relX = parseInt(e.pageX - parentOffset.left) - 15;
      var relY = parseInt(e.pageY - parentOffset.top);

      $(this).append('<div class="hit-circle" style="top:' + relY + 'px; left:' + relX + 'px; "></div>');

      $('#hidden-hit-coords').val(relX + ',' + relY);
      $('#new_hit').submit();
    })
  })
</script>
