<div class="row">
  <div class="large-2 columns">
    <%= image_tag @player.photo.url(:thumb) %>
  </div>
  <div class="large-4 end columns">
    <h1><%= @player.name %></h1>
  </div>
</div>
<div class="row">
  <div class="large-12 columns">
    <div id="legend">
      <h4>Legend</h4>
      <ul>
        <% @hit_types.each do |hit_type| %>
          <li class="hit-type <%= hit_type.name %>" data-hit-type-id="<%= hit_type.id %>"><%= hit_type.name %></li>
        <% end %>
      </ul>
    </div>
    <div id="spray-chart">
      <% @hits.each do |hit| %>
        <%= link_to '', player_hit_path(@player, hit), method: 'delete', remote: true, class: "hit-circle #{hit.hit_type.name}", style: "top: #{hit.coords.split(',')[1]}px; left: #{hit.coords.split(',')[0]}px", id: "#{hit.id}" %>
      <% end %>
    </div>
    <%= form_for [@player, @hit], remote: true do |f| %>
      <%= f.hidden_field :coords, id: 'hidden-hit-coords' %>
      <%= f.hidden_field :hit_type_id, id: 'hidden-hit_type_id' %>
    <% end %>
  </div>
</div>


<script>
  $(document).ready(function(){

    $('.hit-type').on('click', function() {
      $('#hidden-hit_type_id').val($(this).data('hit-type-id'));
    });

    $('#spray-chart').on('dblclick', function(e) {
      if ($('#hidden-hit_type_id').val() != '') {
        parentOffset = $(this).parent().offset();
        relX = parseInt(e.pageX - parentOffset.left) - 15;
        relY = parseInt(e.pageY - parentOffset.top);
        $('#hidden-hit-coords').val(relX + ',' + relY);
        $('#new_hit').submit();
        $('#hidden-hit_type_id').val('')
      } else {
        alert('select a hit type first!')
      }
    });

  })
</script>
